<!-- header
================================================== -->
<header class="header">

    <div class="row">

        <div class="logo">
            <a href="index.html">SOSZ16</a>
        </div>

        <nav id="main-nav-wrap">
            <ul class="main-navigation">
                <li class="current"><a class="smoothscroll"  href="#intro" title="">Inicio</a></li>
                <li><a class="smoothscroll"  href="#event" title="">Evento</a></li>
                <li><a class="smoothscroll"  href="#location" title="">Donde</a></li>
                <li><a class="smoothscroll"  href="#sponsors" title="">Sponsors</a></li>
                <li class="highlight with-sep"><a href="https://www.ticketea.com/entradas-conferencia-startup-open-space-zaragoza-2016/" title="" target="blank">Tickets</a></li>
            </ul>
        </nav>

        <a class="menu-toggle" href="#"><span>Menu</span></a>

    </div>

</header> <!-- /header -->
