<!-- intro section
================================================== -->
<section id="intro"  class="intro">

    <div class="shadow-overlay"></div>

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">

                <div class='main-logo'>
                    <%= image_tag "main-logo.png" %>
                </div>


                <h1>Boost your project,<br> boost your mind...</h1>
                <h5>By Cachirulo Valley</h5>

                <a class="button stroke" href="https://www.ticketea.com/entradas-conferencia-startup-open-space-zaragoza-2016/" target="blank" title="">Tickets</a>

            </div>

        </div>
    </div>

</section> <!-- /intro -->
