<section class="row section section-intro section-location" id="location">
    <article class="col-twelve with-bottom-line">

		<h5>Ubicación</h5>
		<h1>Etopia, Centro de Arte y Tecnología</h1>
        <p>Avda. Ciudad de Soria, 8 - Acceso por Avda. Autonomía, 7 Planta B. 50003 - Zaragoza. <a href="http://www.zaragoza.es/ciudad/centros/detalle_Centro?id=5105" class="label radius" target="_blank">Web</a></p>
        <p>Líneas de autobús cercanas: <strong>34</strong>, <strong>Ci1</strong>, <strong>Ci2</strong>.</p>

    </article>
</section>
<%= partial "partials/map" %>
<%= image_tag "etopia.jpg" %>
