<section class="row section section-intro" id="event">
    <article class="col-twelve with-bottom-line">

        <h5>#sosZ16</h5>
        <h1>¿De qué va este evento?</h1>
        <p class="lead">Bienvenidos a la tercera edición de "Startup Open Space Zaragoza".</p>
        <p class="lead">Desde <a href="http://cachirulovalley.com/">Cachirulo Valley</a> queremos invitarte otro año más a que nos acompañes el sábado 16 de abril en el evento para Startups del mundo real.</p>
        <p class="lead">Reunimos profesionales para crear foros de intercambio de ideas, conocimientos y experiencias.</p>
        <p class="lead">Open Space es formato del evento en lo que nos basamos para fomentar la comunicación y en la que todos somos los protagonistas.</p>
        <p class="lead">El tema global del evento serán las <strong>Startups</strong>. En ediciones anteriores se han tratado temas como: pricing, Lean startup, financiación, metodologías ágiles, bootstraping, tecnologías y lenguajes de programación, organización y herramientas de comunicación, trabajo en equipo, gestión de proyectos, etc</p>
        <h3>Adelántate al evento</h3>
        <p class="lead">La conversación empieza ahora mismo. Echa un vistazo, puedes proponer charlas o ver el resto de propuestas en esta web que hemos preparado para entrar en calor y empezar a conocer gente e ideas.</p>
        <p class="lead">Aquí encontrarás la web para hacer <a href="http://sesiones.cachirulovalley.com/proposals">Propuesta de Sesiones - Open Space</a></p>
        <h3>¿No conoces el formato Open Space?</h3>
        <p class="lead">Un <a href="http://cachirulovalley.com/index.php/2014/01/que-es-un-open-space/">Open Space</a> es un formato de des-conferencia en el que la agenda no está predefinida. Los propios asistentes proponen temas, y entre todos se votan los que se tratarán en las sesiones. No se trata de ponencias, sino de coloquios en los que se fomenta el debate y la participación. El proponente es el “facilitador” que conducirá la sesión.</p>
        <p><img src="/images/photos/open-space-panel.jpg"></p>

        <h3>Precios de entradas: Entrada simple o con cena</h3>
        <p class="lead">El año pasado introdujimos la novedad de la opción de cena tras el día del evento, y como fue un <strong>EXITAZO</strong> repetimos esa posibilidad en <a href="http://lajamoneria.es/">La Jamonería</a>.</p>
        <p class="lead">Tras un evento así siempre se quedan cosas en el tintero, y sabemos que en un entorno totalmente distendido siguen surgiendo conversaciones en pequeños corros y en un tono todavía aún más relajado que durante el Open Space.</p>
        <p class="lead">Así que tú eliges: <a target="blank" href="https://www.ticketea.com/entradas-conferencia-startup-open-space-zaragoza-2016/">comprar tu entrada simple o con cena</a> :)</p>
    </article>
</section>
