<section id="features">
    <div class="row section-intro">
      <div class="col-twelve with-bottom-line">

		<h5>Ubicación</h5>
		<h1>Etopia, Centro de Arte y Tecnología</h1>
    <p class="lead" style="color: white !important;">Avda. Ciudad de Soria, 8 - Acceso por Avda. Autonomía, 7 Planta B. 50003 - Zaragoza. <a href="http://www.zaragoza.es/ciudad/centros/detalle_Centro?id=5105" class="label radius" target="_blank">Web</a></p>

    <p>Líneas de autobús cercanas: <strong>34</strong>, <strong>Ci1</strong>, <strong>Ci2</strong>.</p>

      </div>
    </div>
</section>
<%= partial "partials/map" %>
