<section class="row section section-intro" id="event">
    <article class="col-twelve with-bottom-line">

        <h5>#sosZ16</h5>
        <p>Bienvenidos a la tercera edición de "Startup Open Space Zaragoza".</p>
        <p>Desde Cachirulo Valley queremos invitarte otro año más a que nos acompañes el sábado 16 de abril en el evento para Startups del mundo real.</p>
        <p>Reunimos profesionales para crear foros de intercambio de ideas, conocimientos y experiencias.</p>
        <p>Open Space es formato del evento en lo que nos basamos para fomentar la comunicación y en la que todos somos los protagonistas.</p>
        <p><strong>Ven a disfrutar de la ruta del SOSZ16, ¡Te esperamos!</strong></p>
        
    </article>
</section>
