<section class="section section-previous-edition" id="previous-edition">

	<div class="row">
   		<div class="col-twelve with-bottom-line">

   			<h5>Anteriores ediciones</h5>
   			<h2>Edición 2014</h2>

   			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/YyNd-p_NQHc' frameborder='0' allowfullscreen></iframe></div>
   		</div>
   	</div>
</section>
